<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Ormskirk Newspapers - Dashboard</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.min.css" />
	<link rel="stylesheet" href="/css/monthly.min.css" />
	<link rel="stylesheet" href="/css/shared.css" />
	<link rel="stylesheet" href="/css/dashboard.css" />
</head>
<body>
	<div id="app"> <!-- Vue model holder -->
		<!-- Top nav bar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="javascript:void(0)">Ormskirk Newspapers</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right"> <!-- Right hand navbar -->
						<li><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{user.email}} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:void(0)">Change password</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
				</div>
			</div>
		</nav>

		<!-- Main container -->
		<div class="container-fluid">
			<div class="sticky-nav col-md-3">
				<h1>Navigation</h1>

				<div class="list-group">
					<router-link to="/overview" class="list-group-item"><span class="glyphicon glyphicon-home"></span> Overview</router-link>
					<router-link to="/routes" class="list-group-item"><span class="glyphicon glyphicon-road"></span> Routes</router-link>
					<router-link to="/customers" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Customers</router-link>
					<router-link to="/publications" class="list-group-item"><span class="glyphicon glyphicon-book"></span> Publications</router-link>
					<router-link to="/metrics" class="list-group-item"><span class="glyphicon glyphicon-stats"></span> Metrics</router-link>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3" style="height:100%">&nbsp;</div>

				<div class="col-md-9">
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>

	<!-- ################## -->
	<!-- APP VIEW TEMPLATES -->
	<!-- ################## -->

	<!-- Overview -->
	<script id="route-view-overview" type="text/template">
	<div> <!-- <= Views must have a single root node -->
		<div class="page-header">
			<h1>Overview <small>A glace at this week</small></h1>
		</div>

		<!-- Row 2 -->
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">Publications required today</div>
					<table class="table table-condensed table-striped table-bordered-h">
						<thead>
							<tr>
								<th>Publication</th>
								<th>Driver 1</th>
								<th>Driver 2</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody v-if="store.state.deliveryDataRaw">
							<tr v-for="(counts, publication) in store.getters.getRequiredPublications">
								<td>{{publication}}</td>
								<td>{{counts[0]}}</td>
								<td>{{counts[1]}}</td>
								<td><strong>{{counts[2]}}</strong></td>
							</tr>
						</tbody>
						<!--<tfoot>
							<tr>
								<th>Total</th>
								<th>16</th>
								<th>21</th>
								<th>37</th>
							</tr>
						</tfoot>-->
					</table>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Actions</div>
					<div class="panel-body">
						<router-link to="/routes" class="btn btn-block btn-success">View driver routes</router-link>
						<a href="#" class="btn btn-block btn-success">Lorem Ipsum</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Row 3 -->
		<div class="panel panel-primary">
			<div class="panel-heading">This week's metrics</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-5">
						<h3 style="text-align:center">Weekly subscriptions by day</h3>
						<canvas id="chart-weekly-subs-by-day" width="400" height="250"></canvas>
					</div>

					<div class="col-md-5">
						<h3 style="text-align:center">Weekly subscriptions by publication</h3>
						<canvas id="chart-weekly-subs-by-pub" width="400" height="250"></canvas>
					</div>

					<div class="col-md-2">
						<h3 style="text-align:center">Legend</h3>
						<ul class="legend-list">
							<li v-for="pub in store.state.publications">
								<div v-bind:style="{backgroundColor:'#' + pub.color}"></div>{{pub.name}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</script>

	<!-- Driver routes -->
	<script id="route-view-driver-routes" type="text/template">
	<div id="route-view-inner-container">
		<div class="page-header">
			<h1>Routes <small>Today's delivery plan</small></h1>
		</div>

		<ul class="tab-navigation">
			<router-link to="/routes/1" class="tab">Driver 1</router-link>
			<router-link to="/routes/2" class="tab">Driver 2</router-link>
		</ul>

		<div class="row">
			<div class="col-md-6" style="max-height:732px;">
				<table class="table table-bordered-h">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Address</th>
							<th>Publications</th>
						</tr>
					</thead>
					<tbody v-if="store.state.directionsServiceResults">
						<tr v-for="(routeindex, index) in waypointOrder">
							<td>
								<div class="map-marker">{{"BCDEFGHIJKLMNOPQRSTUVWXYZ".split("")[index]}}</div>
							</td>
							<td>
								<address>
								{{currentDeliveryRoute[routeindex].name}}
								{{currentDeliveryRoute[routeindex].address1}}<br>
								{{currentDeliveryRoute[routeindex].address2}}<br>
								{{currentDeliveryRoute[routeindex].address3}}<br v-if="currentDeliveryRoute[routeindex].address3">
								{{currentDeliveryRoute[routeindex].address4}}<br v-if="currentDeliveryRoute[routeindex].address4">
								{{currentDeliveryRoute[routeindex].postcode}}
								</address>
							</td>
							<td>
								<ul>
									<li v-for="pname in currentDeliveryRoute[routeindex].publication_name">{{pname}}</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Map</div>
					<div class="panel-body">
						<div id="route-map" style="width:100%;height:300px"></div>
						<div id="route-directions" style="max-height:359px;overflow-y:auto"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</script>

	<!-- Customers -->
	<script id="route-view-customers" type="text/template">
	<div>
		<div class="page-header">
			<h1>Customers<!-- <small>A glace at this week</small>--></h1>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon "><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" class="form-control" placeholder="Name or email" v-model="searchText">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" v-on:click.prevent="searchText=''"><span class="glyphicon glyphicon-remove"></button>
					</span>
				</div>

				<table class="table table-hover table-bordered-h" style="margin-top:16px">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Address</th>
							<th>Post Code</th>
							<th>Last payment</th>
						</tr>
						<tr class="warning" v-if="searchText">
							<td colspan="4"><span class="glyphicon glyphicon-exclamation-sign"></span> List is currently filtered</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="cust in filteredCustomers" v-on:click.prevent="selectCustomer" v-bind:class="{success: selectedCustomerId == cust.id}" v-bind:data-customer-id="cust.id">
							<td>{{cust.id}}</td>
							<td>{{cust.name}}</td>
							<td>{{cust.address1}}</td>
							<td>{{cust.postcode}}</td>
							<td><abbr v-bind:title="weekToDaterange(cust.latest_payment,false)">{{cust.latest_payment}}</abbr></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{selectedCustomer ? selectedCustomer.name : "Select a customer"}}
						<!--<a href="#" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></a>-->
					</div>
					<div class="panel-body">
						<div v-if="selectedCustomer">
							<div class="row">
								<div class="col-md-4"><strong>Address:</strong></div>
								<address class="col-md-8" v-html="[selectedCustomer.address1, selectedCustomer.address2, selectedCustomer.address3, selectedCustomer.address4, selectedCustomer.postcode].filter(function(e){return e!='';}).join('<br>')"></address>
							</div>
							<div class="row" style="margin-bottom:21px">
								<div class="col-md-4"><strong>Contact:</strong></div>
								<div class="col-md-8">
									{{selectedCustomer.email}}<br>
									{{selectedCustomer.contact_num || "Phone not provided"}}<br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4"><strong>Latest payment:</strong></div>
								<div class="col-md-8" v-if="editingPaymentDate">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="YYYY-WW" pattern="^\d{4}-\d{2}$" v-model="currentYearWeek" data-week-input required>
										<span class="input-group-btn">
											<button class="btn btn-secondary" type="button" v-on:click="savePaymentDate"><span class="glyphicon glyphicon-floppy-disk"></span></button>
										</span>
									</div>
								</div>
								<div class="col-md-8" v-else>
									{{selectedCustomer.latest_payment}} <button type="button" class="btn btn-xs btn-default pull-right" v-on:click="editPaymentDate"><span class="glyphicon glyphicon-pencil"></span></button>
								</div>
							</div>
						</div>
						<span v-else>Select a customer from the left to view their details.</span>
					</div>

					<table id="customer-payments-table" class="table table-condensed table-striped table-bordered-h" v-if="selectedCustomer">
						<thead>
							<tr><th colspan="2">Outstanding payments</th></tr>
						</thead>
						<tbody>
							<tr v-for="payment in selectedCustomer.payments">
								<td>{{payment.week}}</td>
								<td>£{{payment.total.toFixed(2)}}</td>
							</tr>
							<tr class="info" v-if="selectedCustomer.payments === null"><td>Loading...</td></tr>
							<tr class="success" v-else-if="selectedCustomer.payments.length == 0"><td>No outstanding payments</td></tr>
						</tbody>
					</table>
					
					<table id="customer-subs-table" class="table table-condensed table-striped table-bordered-h" v-if="selectedCustomer" style="margin-top:16px">
						<thead>
							<tr><th>{{selectedCustomer.name.split(" ")[0]}}'s subscriptions</th></tr>
						</thead>
						<tbody>
							<tr v-for="sub in selectedCustomer.subs"><td>{{sub.name}}</td></tr>
							<tr class="info" v-if="selectedCustomer.subs === null"><td>Loading...</td></tr>
							<tr class="warning" v-else-if="selectedCustomer.subs.length == 0"><td>No subscriptions</td></tr>
						</tbody>
					</table>
				</div>

				<!--<div class="alert alert-warning" v-if="selectedCustomer"> <strong>{{selectedCustomer.name.split(" ")[0]}} has currently suspended their subscriptions.</strong> They are due to be unsuspended 7th May 2017.</div>-->
				<!--<div class="alert alert-danger" v-if="selectedCustomer"> <strong>John has missed 1 delivery recently.</div>-->
			</div>
		</div>
	</div>
	</script>

	<!-- Publications -->
	<script id="route-view-publications" type="text/template">
	<div>
		<div class="page-header">
			<h1>Publications<!-- <small>A glace at this week</small>--></h1>
		</div>

		<table class="table table-bordered-h">
			<thead>
				<tr>
					<th style="width:40px;">ID</th>
					<th style="width:80px;">Colour</th>
					<th>Name</th>
					<th style="width:120px;">Price per issue</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="pub in store.state.publications">
					<td>{{pub.id}}</td>
					<td><div class="publication-color-block" v-bind:style="{backgroundColor:'#' + pub.color}"></div></td>
					<td>{{pub.name}}</td>
					<td>£{{pub.price.toFixed(2)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</script>

	<!-- Metrics -->
	<script id="route-view-metrics" type="text/template">
	<div>
		<div class="page-header">
			<h1>Metrics<!-- <small>A glace at this week</small>--></h1>
		</div>

		<p>Not currently implemented.</p>
	</div>
	</script>


	<script src="/js/promise.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/monthly.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/vuex.min.js"></script>
	<script src="/js/vue-router.min.js"></script>
	<script src="/js/Chart.min.js"></script>
	<script src="/js/shared.js"></script>
	<script src="/js/dashboard.js"></script>
	<script async defer src="/googlemapsapi?cb=gmapsApiLoad"></script>
</body>
</html>