.add-button {
	position: relative;
	top: -20px;
}

.edit-delete-group {
	position: absolute;
	right: 9px;
}

#subscription-list .edit-delete-group { top: 18px; }
#suspension-list .edit-delete-group { top: 13px; }

s {
	opacity: 0.5;
}

.subscription-legend-dot {
	position: relative;
	display: inline-block;
	top: 2px;
	height: 1em; width: 1em;

	border-radius: 50%;
	border: 1px solid #333;
}