.add-button {
	position: relative;
    top: -20px;
}

.edit-delete-group {
	position: absolute;
    right: 9px;
}

#subscription-list .edit-delete-group { top: 18px; }
#suspension-list .edit-delete-group { top: 13px; }

s {
	opacity: 0.5;
}