.sticky-nav {
	position: fixed;
	top: 66px;
	padding-left: 0;
}

.page-header {
	margin-top: 0;
}

/* Table footer thick line */
tfoot {
	border-top: 2px solid #DDD;
}

/* Tab control */
.tab-navigation {
	border-bottom: 1px solid #ddd;
    padding-left: 0;
	padding-bottom: 10px;
    list-style: none;
}

.tab-navigation .tab {
	border: 1px solid #DDD;
	padding: 12px;
	text-decoration: none;
	border-radius: 6px 6px 0 0;
}

.tab-navigation .tab.active {
	border-bottom-color: #FFF;
	color: #333;
}

.tab-navigation .tab:not(.active):hover {
	background-color: #EEE;
}

/* Slight edit to make small buttons look right on panel headings*/
.panel-heading .btn.btn-xs {
	position: relative;
    top: -1px;
    right: -5px;
}

/* Route list map marker */
.map-marker {
	background: url(../img/map-marker.png);
	width: 22px;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
}

/* Publication table color blocks */
.publication-color-block {
    height: 1em;
    width: 60px;
    border: 1px solid #666;
    margin-top: 0.2em;
}