body {
	background: linear-gradient(#18BC9C, #2C3E50);
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 400px;
}

.login-container.animate {
	animation: shake 400ms ease-in-out both;
}

.form-login .input-group:not(:last-of-type) {
	margin-bottom: 8px;
}

@keyframes shake {
	0%, 100% { transform: translate(-50%, -50%) translate(0, 0); }
	20% { transform: translate(-50%, -50%) translate(-8px, 0); }
	40% { transform: translate(-50%, -50%) translate( 6px, 0); }
	60% { transform: translate(-50%, -50%) translate(-4px, 0); }
	80% { transform: translate(-50%, -50%) translate( 2px, 0); }
}